<p>events works!</p>
<div>
    <!-- {{eventList.data.events | json}} -->
    <div class="row">
        <div class="col-sm-10">
          <div *ngIf="eventList.data.events!.length > 0">
            <div class="row">
              <div *ngFor="let event of eventList.data.events">
                <div class="col-sm-6 mb-4">
                  <div class="card" style="width: 32rem">
                    <div class="card-header">
                      <b>{{ event.event_type }}</b>
                    </div>
                    <img
                      class="card-img-top"
                      style="height: 13rem"
                      src="{{ event.cover_picture }}"
                      alt="Card image cap"
                    />
                    <div class="card-body">
                      <h1 class="card-title">{{ event.name }}</h1>
                      
                      <!-- <div class="row ml-1">
                        <div *ngFor="let tagging of taggings">
                          <h6 *ngIf="event!.id == tagging.event_id" class="badge badge-secondary mr-2">{{ tags[tagging.tag_id] }}</h6>
                        </div>
                      </div> -->
    
                      <p class="card-text">
                        {{ event.short_desc | slice:0:115}}.........
                      </p>          
                      <div class="row mb-4"> 
                        <div class="col-sm-8">
                          <p class="card-text">
                            <b>Venue : </b> {{ event.venue }}
                          </p>
                        </div>
                        <div class="col-sm-4">
                          <p class="card-text">
                            <b>Fees : </b> {{ event.fees }} Rs
                          </p>
                        </div>
                      </div>        
                      <p class="card-text">
                        <b>Start time : </b>{{ event.event_start_time
                            | date:'dd-MM-yyyy HH:mm'}}
                      </p>
                      <p class="card-text">
                        <b>End time : </b>{{ event.event_end_time
                            | date:'dd-MM-yyyy HH:mm'}}
                      </p>
                      <a routerLink="/detail/{{event.id}}" class="btn btn-warning"
                        >View</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!(eventList.data.events!.length > 0)">
            <h1 class="text-secondary m-5">No Events Found</h1>
          </div>
        </div>
</div>